Werkzeug
python-dotenv
Flask
Flask-RESTful
Flask-BabelPlus
Flask-SQLAlchemy
flask-marshmallow
Flask-Migrate
marshmallow-sqlalchemy
PyMySQL
cryptography
Flask-Bcrypt
Flask-JWT-Extended
Flask-Mail
requests
Flask-Cors
Flask-Reuploaded
# Flask-Uploads
# sendgrid>=6.4.8,<6.5.0
